/* light theme color codes */

:root {
  --background: #eceef9;
  --headerBackground: #fff;
  --textColor: #242425;
  --linkColor: #4178f0;
  --primary: #273dae;
  --green: #50becb;
  --ltblue: #5473e8;
  --ltgray: #9d9ea4;
}
